{% extends 'base.html' %}
{% load  static %}


<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'home' %}">صفحه اصلی</a>
                <span class="breadcrumb-item active">ارتباط با ما</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

{% block main %}
    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">ارتباط با ما</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">

                    <form id="message" method="post">
                        {% csrf_token %}
                        {{ form.errors }}
                        <hr>
                        <div id="" class="control-group">
                            {{ form.full_name }}
                        </div>
                        <hr>
                        <div class="control-group">
                            {{ form.email }}
                        </div>
                        <hr>
                        <div class="control-group">
                            {{ form.subject }}
                        </div>
                        <hr>
                        <div class="control-group">
                            {{ form.text }}
                        </div>
                        <hr>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="insert">ارسال پیام
                            </button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-30">
                    <iframe style="width: 100%; height: 250px;"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                            tabindex="0"></iframe>
                </div>
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" aria-hidden="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.js" aria-hidden="true"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.min.css">

    <script>
        $(document).ready(function () {
            $("#message").submit(function (e) {
                e.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: "{% url 'account:contact_us' %}",
                    type: "POST",
                    data: formData,
                    success: function () {
                        Swal.fire({
                            icon: 'success',
                            title: 'پیام شما با موفقیت ارسال شد',
                            confirmButtonText: 'باشه',
                            allowOutsideClick: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '{% url 'account:contact_us' %}';
                            }
                        });
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'خطا در ارسال پیام',
                            confirmButtonText: 'باشه',
                            allowOutsideClick: true
                        });
                    }
                });
            });
        });
    </script>

{% endblock %}
