{% extends 'base.html' %}
{% load static %}

{% block main %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="{% url 'home' %}">صفحه اصلی</a>
                    <span class="breadcrumb-item active">ارسال شماره تلفن</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- sign up Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">شماره خود را وارد کنید</span>
        </h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            {{ form.phone }}
                        </div>
                        <div>
                            {% for error in form.phone.errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <hr>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">ارسال
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- signup End -->
{% endblock %}